.about{
    background-color: light;
    display: flex;
    padding: 30px 0;
    margin: 40px;
    .imgContainer{
        flex:0.33;
        // padding: 0px 20px;
        height: 100%;
        
        .img{
            // display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            object-fit: cover;
        }
    }
    .description{
        display: block;
        font-family: 'Loto', sans-serif;
        margin:80px 70px;
        position: relative;
        flex:0.6;
        p{
            font-size: 20px;
        }
        
    }
    
    
}