.about{
    
    background-color: light;
    display: flex;
    padding: 30px 40px;
    .imgContainer{
        padding: 40px 0;
        width: 33%;
        height: 100%;
        
        .img{
            display: block;
            align-items: center;
            justify-content: center;
            height: 92%;
            width: 100%;
            // object-fit: cover;
        }
    }
    .description{
        display: block;
        font-family: 'Loto', sans-serif;
        margin:80px 70px;
        // position: relative;
        width: 66%;
        p{
            font-size: 20px;
        }
        
    }
    
    
}