

.Portfolio{
    background-color: whitesmoke;
    display: block;
    // margin: 40px;
    padding: 30px 40px;
    .content{
        display: flex;
        .text{
            font-size: large;
            display: flex;
            flex-direction: column;
            margin:80px 70px;
       
            width: 66%;
            h{

            }
        }
        .imgContainer{
            padding: 70px 0;
            height: 100%;
            width: 40%;

            
            .img{
                position: relative;
                width: 100%;
            }
        }
    }
}