

.Portfolio{
    background-color: whitesmoke;
    display: block;
    // margin: 40px;
    padding: 30px 40px;
    .content{
        display: flex;
        .text{

            display: flex;
            flex-direction: column;
            margin:80px 70px;
       
            width: 66%;
            h{

            }
        }
        .imgContainer{
            padding: 40px 0;
            width: 33%;

            
            .img{
                display: block;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
        }
    }
}